* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    width: 100%;
    height: 100vh;
}

.container {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: white;
}

.logo h2 {
    font-size: 40px;
    color: rgb(21, 21, 128);
    margin-left: 15px;

}

.nav {
    width: 70%;
    height: 100%;
    background-color: rgb(21, 21, 128);
}

.nav ul {
    display: flex;
    margin-left: 300px;
}

.nav ul li {
    list-style: none;
    margin-top: 15px;
}

.nav ul li a {
    text-decoration: none;
    color: white;
    margin-left: 25px;
    font-size: 27px;
    text-transform: inherit;
    margin: 20px;
    padding: 10px;
    /* border-bottom: 6px solid #fff;
    border-radius: 4px; */
}
a:hover
{
    border-bottom: 4px solid #fff;
    border-radius: 2px; 
    
}

.box {
    display: flex;
    position: relative;

}

.curcle {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 20px solid rgb(21, 21, 128);
    position: absolute;
    top: 200px;
    left: 180px;
}

.left {
    width: 30%;
    height: 662px;

}

.right {
    width: 70%;
    height: 662px;
    background-color: rgb(21, 21, 128);
    color: white;
    align-content: center;

}

.Content {
    width: fit-content;
    align-content: center;
    margin-top: 220px;
    margin-left: 500px;
}

.Content h2,
h2,
p {
    padding: 15px;
    text-align: right;
}

.Content h2 {
    font-size: 35px;
}

.Content h1 {
    font-size: 40px;
}

.Content p {
    font-size: 25px;
}

.circle-2 {
    width: 310px;
    height: 310px;
    border-radius: 50%;
    border: 20px solid white;
    position: absolute;
    top: 1px;
    left: 2px;
    background-color: rgb(21, 21, 128);
}

.circle-2 img {
    width: 270px;
    height: 270px;
    border-radius: 50%;

}

.png {
    width: 100%;
    height: 20%;
}

.png img {
    height: 30px;
    display: inline-flex;
    justify-content: space-between;
    margin: 10px;
}

.social-app {
    margin-left: 660px;
    padding: 15px;
}

.button-1 button {
    background-color: white;
    color: rgb(21, 21, 128);
    padding: 35px;
    font-size: 20px;
    border-radius: 35px;
    width: 200px;
    height: 40px;
    border: none;
    margin-left: 680px;
    margin-top: -20px;
    cursor: pointer;
}

.thirdsection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

.stat {

    width: 500px;
    margin-bottom: 10px;

}

.progress-complete {

    width: 500px;
    display: flex;

}

.progress {
    width: 400px;
    height: 5px;
    background-color: rgb(177, 175, 175);
    border-radius: 10px;
    outline: none;
    position: relative;
    margin: 9px;
}

.progress span {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    border-radius: 60px;
    background-color: rgb(21, 21, 128);
}

.html {
    width: 75%;
}

.Css {
    width: 60%;
}

.progress-text {
    color: rgb(52, 51, 51);
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: none;
    font-family: Arial, Helvetica, sans-serif;

}

.progress-text-1 {
    font-size: 18px;
    color: rgb(73, 73, 73);
}

.JAVASCRIPT {
    width: 40%;
}

.C {
    width: 80%;
}

.Python {
    width: 60%;
}

.section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    box-shadow: rgb(21, 21, 128) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border: none;
    border-radius: 30px;
    padding: 10px;
}

.Database {
    width: 30%;
}

.Skill {
    text-align: center;
    font-size: 30px;
    letter-spacing: 3px;
    color: rgb(21, 21, 128);
    margin: 20px;
}

hr {
    border: 0;
    background: rgba(21, 21, 128);
    height: 2.5px;
}

.fourthsection {
    height: 100vh;
    width: 100%;
}

.proj-heading h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
    color: rgb(21, 21, 128);
}

.proj-heading p {
    text-align: center;
    font-size: 25px;
    color: rgb(73, 73, 73);
}

.projects {
    height: 500px;
    width: 1200px;
    margin-left: 130px;
    margin-top: -20px;
    box-shadow: rgba(21, 21, 128, 0.25) 0px 54px 55px, rgba(21, 21, 128, 0.25) 0px -12px 30px, rgba(21, 21, 128, 0.25) 0px 4px 6px, rgba(21, 21, 128, 0.25) 0px 12px 13px, rgba(21, 21, 128, 0.25) 0px -3px 5px;
}

.projects-a {
    height: 200px;
    margin: 40px;
    display: flex;
}

.project-1 {
    width: 300px;
    height: 170px;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.project-1 img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: 10px;
    align-items: center;
    margin-left: 120px;
    background-color: blue;
}

.project-1 h3 {
    text-align: center;
    color: rgb(77, 77, 77);
    font-size: 20px;
    cursor: pointer;
}

.project-1 h3 a {
    text-decoration: none;
}

.project-1 p {
    text-align: center;
    font-size: 15px;
}

.project-2 {
    width: 300px;
    height: 170px;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.project-2 img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: 10px;
    align-items: center;
    margin-left: 120px;
    background-color: blue;
}

.project-2 h3 {
    text-align: center;
    color: rgb(77, 77, 77);
    font-size: 20px;
    cursor: pointer;
}

.project-2 h3 a {
    text-decoration: none;
}

.project-2 p {
    text-align: center;
    font-size: 15px;
}

.project-3 {
    width: 300px;
    height: 170px;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.project-3 img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: 10px;
    align-items: center;
    margin-left: 120px;
    background-color: blue;
}

.project-3 h3 {
    text-align: center;
    color: rgb(77, 77, 77);
    font-size: 20px;
    cursor: pointer;
}

.project-3 h3 a {
    text-decoration: none;
}

.project-3 p {
    text-align: center;
    font-size: 15px;
}

.project-4 {
    width: 300px;
    margin-top: 30px;
    height: 170px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.project-4 img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: 10px;
    align-items: center;
    margin-left: 120px;
    background-color: blue;
}

.project-4 h3 {
    text-align: center;
    color: rgb(77, 77, 77);
    font-size: 20px;
    cursor: pointer;
}

.project-4 h3 a {
    text-decoration: none;
}

.project-4 p {
    text-align: center;
    font-size: 15px;
}

.projects-b {
    height: 200px;
    margin: 40px;
    display: flex;
}

.project-5 {
    width: 300px;
    height: 170px;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.project-5 img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: 10px;
    align-items: center;
    margin-left: 120px;
    background-color: blue;
}

.project-5 h3 {
    text-align: center;
    color: rgb(77, 77, 77);
    font-size: 20px;
    cursor: pointer;
}

.project-5 h3 a {
    text-decoration: none;
}

.project-5 p {
    text-align: center;
    font-size: 15px;
}

.project-6 {
    width: 300px;
    margin-top: 30px;
    height: 170px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.project-6 img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: 10px;
    align-items: center;
    margin-left: 120px;
    background-color: blue;
}

.project-6 h3 {
    text-align: center;
    color: rgb(77, 77, 77);
    font-size: 20px;
    cursor: pointer;
}

.project-6 h3 a {
    text-decoration: none;
}

.project-6 p {
    text-align: center;
    font-size: 15px;
}

.project-7 {
    width: 300px;
    height: 170px;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.project-7 img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: 10px;
    align-items: center;
    margin-left: 120px;
    background-color: blue;
}

.project-7 h3 {
    text-align: center;
    color: rgb(77, 77, 77);
    font-size: 20px;
    cursor: pointer;
}

.project-7 h3 a {
    text-decoration: none;
}

.project-7 p {
    text-align: center;
    font-size: 15px;
}

.project-8 {
    width: 300px;
    height: 170px;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.project-8 img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: 10px;
    align-items: center;
    margin-left: 120px;
    background-color: blue;
}

.project-8 h3 {
    text-align: center;
    color: rgb(77, 77, 77);
    font-size: 20px;
    cursor: pointer;
}

.project-8 h3 a {
    text-decoration: none;
}

.project-8 p {
    text-align: center;
    font-size: 15px;
}

hr {
    border: 0;
    background: rgba(21, 21, 128);
    height: 2.5px;
}

.fifthsection {
    height: 100vh;
    width: 100%;
}

.cirtificates {
    height: 72vh;
    width: 80%;
    margin-left: 150px;
    box-shadow: rgba(21, 21, 128, 0.25) 0px 54px 55px, rgba(21, 21, 128, 0.25) 0px -12px 30px, rgba(21, 21, 128, 0.25) 0px 4px 6px, rgba(21, 21, 128, 0.25) 0px 12px 13px, rgba(21, 21, 128, 0.25) 0px -3px 5px;
}

.cirtif-heading h1 {
    text-align: center;
    font-size: 40px;
    padding: 30px;
    color: rgb(21, 21, 128);
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cirtif-heading p {
    text-align: center;
    font-size: 25px;
    padding: 10px;
    color: rgb(77, 77, 77);
}

.cirt-a {
    height: 35vh;
    width: 100%;
    display: flex;
}

.cirt-1 {
    height: 30vh;
    width: 50vh;
    margin-top: 17px;
    margin-left: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cirt-1 img {
    height: 30vh;
    width: 50vh;
}

.cirt-2 {
    height: 30vh;
    width: 50vh;
    margin-top: 17px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cirt-2 img {
    height: 30vh;
    width: 50vh;
}

.cirt-3 {
    height: 30vh;
    width: 50vh;
    margin-top: 17px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cirt-3 img {
    height: 30vh;
    width: 50vh;
}

.cirt-b {
    height: 35vh;
    width: 100%;
    margin-top: 10px;
    display: flex;
}

.cirt-4 {
    height: 30vh;
    width: 50vh;
    margin-top: 17px;
    margin-left: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cirt-4 img {
    height: 30vh;
    width: 50vh;
}

.cirt-5 {
    height: 30vh;
    width: 50vh;
    margin-top: 17px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cirt-5 img {
    height: 30vh;
    width: 50vh;
}

.cirt-6 {
    height: 30vh;
    width: 50vh;
    margin-top: 17px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cirt-6 img {
    height: 30vh;
    width: 50vh;
}

hr {
    border: 0;
    background: rgba(21, 21, 128);
    height: 2.5px;
}

.login-form {
    height: 35vh;
    width: 45%;
    justify-content: center;
    padding: 20px;
    /* width: 700px;
    height: 60vh; */
    position: absolute;
    margin-top: -440px;
    margin-left: 600px;
    margin-bottom: 40px;
    box-shadow: rgba(21, 21, 128, 0.25) 0px 54px 55px, rgba(21, 21, 128, 0.25) 0px -12px 30px, rgba(21, 21, 128, 0.25) 0px 4px 6px, rgba(21, 21, 128, 0.25) 0px 12px 13px, rgba(21, 21, 128, 0.25) 0px -3px 5px;
}

.login-form h1 {
    text-align: center;
    color: #fff;
}

.box-2 {
    height: 70vh;
    width: 100%;
    border-radius: 30px;
    justify-content: center;
    background-color: rgb(21, 21, 128);
}

.box-2 h2 {
    text-align: left;
    color: #fff;
    padding: 10px;
    margin-left: 70px;
}

input[type="text"],
input[type="password"],
input[type="email"],
button {
    color: rgb(21, 21, 128);
    transition: background-color 0.3s ease;
    align-items: center;
    margin-left: 40px;
    margin: 20px;
    display: flex;
    width: 80%;
    height: 5vh;
}

.btn-1 button {
    width: 25%;
    text-align: center;
    padding-left: 35px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 260px;
    font-size: 25px;
    border-radius: 25px;
    border: none;
    background-color: white;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    height: 10%;
    border-radius: 30px;
    border: none;
    padding: 20px;
    margin-left: 70px;
}

hr {
    border: 0;
    background: rgba(21, 21, 128);
    height: 2.5px;
}

.footer {
    padding: 20px 10% 5px;
    color: white;
    margin-top: 40px;
    background-color: rgb(21, 21, 128);
}

.footer h2 {
    font-size: 18px;
    text-align: left;
    width: 300px;
    font-weight: 400;
    margin-bottom: 30px;
}

.footer .col {
    width: 320px;
    margin-bottom: 20px;
}

.footer .col a {
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 20px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 250px;

}

.footer .row {
    align-items: flex-start;
    padding: 10px 0;
    width: 300px;
    display: flex;
}

.language-btn {
    width: 200px;
    background-color: rgb(21, 21, 128);
    color: #fff;

}

.footer .language-btn img {
    color: rgb(21, 21, 128);
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    margin-left: 80px;
}

.copyright-txt {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.heading-point {
    transform: rotate(270deg);
    margin-right: 10px;
    height: 10px;
}